* {
  margin: 0;
}

body {
  background-color: #edeaed;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 4.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edc4b398;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0.5rem;
}

.header__option--basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__option--basketCount {
  margin: 0 0.5rem;
}

.header__option--lineOne {
  font-size: 0.8rem;
}

.header__option--lineTwo {
  font-size: 0.8rem;
  font-weight: 800;
}

.header__logo {
  height: 2.7rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0.5rem;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__search--input {
  height: 1rem;
  padding: 0.6rem;
  border: none;
  width: 100%;
}

.header__search--icon {
  padding: 0.32rem;
  height: 1rem;
  background-color: yellow;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.home__container {
  width: 100%;
}

.home__banner {
  width: 100%;
  z-index: -1;
  margin-top: -0.4rem;
  margin-bottom: -150px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  margin: auto 0.5rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.8rem;
  padding: 1.3rem;
  z-index: 2;
  width: 100%;
  max-height: 20rem;
  min-width: 8rem;
}

.product__info {
  height: 6rem;
  margin-bottom: 1rem;
  width: 90%;
}

.product__info--price {
  margin-top: 0.3rem;
}

.product__info--name {
  font-size: 0.8rem;
}

.product__info--btn {
  background: #83b3e4;
  border: 1px solid #0055ab;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__info--img {
  max-height: 11rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}

.product__info--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.product__info--rate {
  font-size: 1.1rem !important;
}
/*# sourceMappingURL=all.css.map */